<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <hr size="3" noshade color="Red">
    <table cellspacing="50">
        <tr>
            <td><img src="..\static\peace-7043225_1280.jpg" height="300" width="300"></td>
            <td>
                <h1>&#128513;Kai!!</h1>
                <br>
                <p><em>Going to new <strong>career</strong>!</em></p>
                <br>
                <p>I will quite the fucking police job!</p>
            </td>
        </tr>
    </table>
    <hr size="3" noshade color="Red">
        <h3>Education</h3>
            <p>CPU</p>
            <ol start="1">
                <li>PS</li>
                    <ul>
                        <li>First Grade</li>
                        <li>Second Grade</li>   
                    </ul>
                <li><em>Captain of<strong><a href="https://en.wikipedia.org/wiki/Baseball" target="_blank"> Baseball</a></strong> party</em></li>
                <li>831</li>
                <li>Tainan First Elemetry School</li>
            </ol>
        <h3><a href="Hobbies.html" target="_blank">Hobbies</a></h3>
        <h3><a href="contact.html" target="_blank">Contact Me</a></h3>
        <h3>Skill</h3>
        <table cellspacing="20">
            <thead align="left">
                <tr>
                <th scope="col">Category</th>
                <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Python</td>
                    <td>&#9733;&#9733;</td>
                </tr>
                <tr>
                    <td>Web Development</td>
                    <td>&#9733;</td>
                </tr>
                <tr>
                    <td>Data Structure</td>
                    <td>&#9733;</td>
                </tr>
                <tr>
                    <td>Database</td>
                    <td>&#129314;</td>
                </tr>
            </tbody>
        </table>
        <h3>Skill2</h3>
        <table cellspacing="10">
            <tbody>
                <tr>
                    <td>Python</td>
                    <td>&#9733;&#9733;</td>
                    <td>Web Development</td>
                    <td>&#9733;</td>
                </tr>
                <tr>
                    <td>Data Structure</td>
                    <td>&#9733;</td>
                    <td>Database</td>
                    <td>&#129314;</td>
                </tr>
            </tbody>
        </table>
   
    
</body>
</html>